{% extends "base.html" %}
{% block title %} &ndash; {{ page.title }}{% endblock %}

{% block content %}

<!-- For the index.html page, include hero outside article tag -->
{% if page.title == "DataLad" %}
<div class="hero">
  <div class="hero-image">
    <img src="/img/datalad_hero_v5.svg" alt="DataLad overview" />
  </div>
  <div class="hero-body">
    <!-- <img src="/img/logo/datalad_logo_wide_yw.svg" alt="DataLad Logo"> -->
    <p>Distributed data management<br><br>Free and open source</p>
    <a class="button" href="">Get DataLad &nbsp; &#10140;</a>
  </div>
  <svg viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,100 100,0 100,100" />
  </svg>
</div>
{% else %}
<div class="banner">
  <h1 id="{{ page.slug }}">{{ page.title }}</h1>
</div>
{% endif %}

<!-- Enter page content inside div in the article tag -->
<article>
  <!-- <header>
    <h1 id="{{ page.slug }}">{{ page.title }}</h1>
  </header> -->
  <div>
    {{ page.content }}
  </div>
</article>
{% endblock %}
