/* This file is (generally) organized according to SMACSS */
:root {
  /* --hero-background-color: #ffa200;
  --hero-text-color: #333333; */
  --hero-background-color: #333333;
  --hero-text-color: white;
  --datalad-yellow: #ffa200;
}
/*
 *  Base
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('theme/fonts/raleway-v22-latin-ext_latin-regular.woff2') format('woff2'),
       url('theme/fonts/raleway-v22-latin-ext_latin-regular.woff') format('woff');
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('theme/fonts/quicksand-v24-latin-ext_latin-regular.woff2') format('woff2'),
       url('theme/fonts/quicksand-v24-latin-ext_latin-regular.woff') format('woff');
}

@font-face { /* License: OFL 1.1 */
  font-family: 'fontello';
  src: url('theme/fonts/fontello.woff2?75734824') format('woff2'),
       url('theme/fonts/fontello.woff?75734824') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home::before { content: '\e800'; }
.icon-mail::before { content: '\e801'; }
.icon-phone::before { content: '\e802'; }
.icon-gpg::before { content: '\e803'; }
.icon-google-scholar::before { content: '\e900'; }
.icon-research-gate::before { content: '\e902'; }
.icon-orcid::before { content: '\e906'; }
.icon-twitter::before { content: '\f099'; }
.icon-github::before { content: '\f09b'; }
.icon-linkedin::before { content: '\f0e1'; }
.icon-debian::before { content: '\f102'; }
.icon-info::before { content: '\f129'; }
.icon-google::before { content: '\f1a0'; }
.icon-fax::before { content: '\f1ac'; }
.icon-fax::before { content: '\f1ac'; }
.icon-link-ext:before { content: '\f08e'; }
.icon-doc-text:before { content: '\f0f6'; } 

a {
  color: #ffa200;
  text-decoration: none;
}
a:hover {
  color: #af7714;
}

body, html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #242121;
  font-family: 'Raleway', serif;
  font-size: 1.1em;
  line-height: 2em;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 90vh;
  background-color: var(--hero-background-color);
  justify-content: space-between;
  align-items: center;
}
.hero img {
  height: auto;
  width: 100%;
}

.hero-image {
  flex: 1.5 1 85%;
  margin: auto;
  position: relative;
  max-width: 400px;

}
.hero-body {
  flex: 1 1 85%;
  color: var(--hero-text-color);
  margin: auto;
  position: relative;
  max-width: 280px;
}
.hero-body p {
  font-family: 'Raleway', serif;
  font-size: 2em;
  /* padding-right: 4em; */
  margin-top: 0em;
  margin-bottom: 1em;

}

@media screen and (min-width: 768px) {
  .hero-image {
    flex: 2 1 0%;
    max-width: 700px;
  }
  .hero-body {
    flex: 1 1 0%;
    max-width: 400px;
  }
}

.banner {
  height: 40vh;
  /* margin: auto; */
  background-color: var(--hero-background-color);
  color: var(--hero-text-color);
  display:flex;
  align-items: center;
  justify-content: center;
}





h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.36em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

p {
  margin: 2em 0;
}

article h1 {
  margin-bottom: 0;
}

nav.card {
  margin: 0;
  padding: 1em 1em;
  position: sticky;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media screen and (min-width: 768px) {
  nav.card {
    padding: 1em 2em;
  }
}
@media screen and (min-width: 1000px) {
  nav.card {
    padding: 1em 8em;
  }
}




svg {
  position: absolute;
  bottom: -0.05%;
  width: 100%;
  height: 15vw;
  fill: #fff;
}

.button {
  background-color: white;
  border: 2px solid var(--datalad-yellow);
  border-radius: 20px;
  color: black;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
}



/*
 *  Layout
 */
article {
  margin: 0 6vw;
}
main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
main #content {
  flex: 1;
}
section, div.section {
  margin: 0 -6vw;
  padding: 2em 6vw;
}

@media screen and (min-width: 768px) {
  main {
    width: 100%;
    position: absolute; top: 0; left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 1000px) {
  article {
    margin: 0 8vw;
  }
  section, div.section {
    margin: 0 -8vw;
    padding: 2em 8vw;
  }
}
@media screen and (min-width: 1800px) {
  article {
    margin: 0 12vw;
  }
  section, div.section {
    margin: 0 -12vw;
    padding: 2em 12vw;
  }
}

.cardtest {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  border: 1px black;
}

.cardtest img {
  height: auto;
  width: 70%;
  min-width: 300px;
}

.whattext {
  flex: 1 1 0%;
  margin: auto;
}

.whatimg {
  flex: 1 1 0%;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .whattext p {
    font-size: 22px;
  }
  .whattext ul {
    font-size: 22px;
  }
}


/*
 * Navigation
 */
/* navigation */
nav.card {
  background: none;
  overflow: unset;
  display: flex;
}

nav.card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
.push {
  margin-left: auto;
  margin-top: 0.4em;
}
#logo {
  padding-right: 1em;
  transform: translate(0%, 18%);
}
nav li a {
  box-shadow: none;
  color: #111;
  font-size: 16px;
  padding: 0.2em 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.4s;
}
@media screen and (min-width: 768px) {
  nav li a:hover { box-shadow: 0 2px 0 #333; }
}




/*
 *  Modules
 */

blockquote {
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 0.95em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0em;
  margin-right: 0.5rem;;
  vertical-align: -2.5rem;
}

.figure { border-bottom: 1px dotted #ddd; }
.figure img { width: 100%; }
.figure p { /* caption */
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 0.3em 1.5em;
}

footer {
  background-color: var(--hero-background-color);
  height: 50vh;
  line-height: 2em;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  color: rgb(189, 189, 189);
  font-size: 17px;
}
.license {
  color: rgb(147, 147, 147);
  font-size: 15px;
  margin: auto;
  text-align: center;
  align-self: center;

}
footer img {
  height: auto;
  width: 20%;
}

.footer-left {
  flex: 1 1 40%;
  padding-right: 2em;
  position: relative;
}
.footer-middle {
  flex: 1 1 20%;
  position: relative;
}
.footer-right {
  flex: 1 1 20%;
  align-items: flex-start;
  position: relative;
  break-after: always;
}
.footer-middle ul, .footer-right ul {
  list-style: none;
}



footer span.break {
  display: block;
}
@media screen and (min-width: 1000px) {
  footer span.break { display: inline; }
}

/* It is impossible to code into CSS the branding guidelines of either FZJ or
 * HHU. The margins are dependent on the size of the logos, but the size of
 * the logos are dependent on the margins. There is no way in CSS to declare
 * this. Thus, a best effort approach is taken here.

 * The margins required for FZJ are larger than the HHU requirements; thus
 * only the FZJ is applied.
 */
.index-logos img {
  height: auto;
  width: 100%;
}
.index-logos .fzj {
  /* this separates the two logos, and shrinks the Jülich logo so that it
   * (generally) lines up with the HHU logo's body width. */
  margin: 2em;
}
@media screen and (min-width: 500px) {
  .index-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .index-logos .fzj {
    flex: 3.00;
    margin: calc(12% - 2em) 0;
    margin-right: 12%;
  }
  .index-logos .hhu {
    flex: 3.00;
  }
}

.sponsor-logos {
  text-align: center;
}
.sponsor-logos img {
  max-height: 50px;
  max-width: 88vw;
}
.sponsor-logos img.squarish {
  max-height: 90px;
}
@media screen and (min-width: 500px) {
  .sponsor-logos img { max-width: 42vw; }
  .sponsor-logos img + img { margin-left: 2vw; }
}
@media screen and (min-width: 768px) {
  .sponsor-logos img { max-width: 20vw; }
}

.publications {
  line-height: 1.3em;
}

section {
  border-bottom: #eee 3px solid;
  overflow: hidden;
}
section:nth-child(2n) { background-color: #f6f6f6; }
section:first-of-type { border-top: #eee 3px solid; }
h2 + section          { border-top: 0; } /* unless immediately preceded by a header */
section:last-of-type  { border: 0; }

section > h2:first-child, div.section > h2:first-child,
section > h3:first-child, div.section > h3:first-child {
  margin-top: 0;
}

section a.project-logo img {
  max-height: 35vh;
  min-width: 45vw;
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

section .youtube-project-logo,
section .youtube-iframe {
  max-height: 35vh;
  min-width: 45vw;
  max-width: 80%;
  margin: 0 auto;
  display: block;
  background-size: contain;
}

.social-links {
  font-size: 1.6em;
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
}
.social-links li {
  display: inline-block;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
}
.social-links a {
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-size: .8em;
  line-height: 1.6em;
  text-align: center;
  transition: transform 0.2s linear;
  height: 1.6em;
  width: 1.6em;
}
.social-links a:hover {
  transform: translateY(-0.2em);
}
/* Tooltips for social links */
.social-links a::after {
  background: #333;
  border: 1px solid #aaa;
  border-radius: 5px;
  content: attr(aria-label);
  font-size: 0.8em;
  opacity: 0;
  padding: 3px 6px;
  position: absolute; bottom: 120%; left: 50%;
  transform-origin: top;
  transform: translate(-50%, 0);
  transition: opacity 0.2s linear;
  white-space: nowrap;
}
.social-links a:hover::after {
  opacity: 1;
}

.social-links .icon-debian                  { background-color: #d70a53; }
.social-links .icon-debian::after           { border-color:     #d70a53; }
.social-links .icon-github                  { background-color: #111010; }
.social-links .icon-github::after           { border-color:     #111010; }
.social-links .icon-google                  { background-color: #d93e2d; }
.social-links .icon-google::after           { border-color:     #d93e2d; }
.social-links .icon-google-scholar          { background-color: #4889f1; }
.social-links .icon-google-scholar::after   { border-color:     #4889f1; }
.social-links .icon-gpg                     { background-color: #ff9800; }
.social-links .icon-gpg::after              { border-color:     #ff9800; }
.social-links .icon-home                    { background-color: #ffa200; }
.social-links .icon-home::after             { border-color:     #ffa200; }
.social-links .icon-info                    { background-color: #7fd5ff; }
.social-links .icon-info::after             { border-color:     #7fd5ff; }
.social-links .icon-linkedin                { background-color: #0077b5; }
.social-links .icon-linkedin::after         { border-color:     #0077b5; }
.social-links .icon-mail                    { background-color: #66cc33; }
.social-links .icon-mail::after             { border-color:     #66cc33; }
.social-links .icon-orcid                   { background-color: #a6ce39; }
.social-links .icon-orcid::after            { border-color:     #a6ce39; }
.social-links .icon-research-gate           { background-color: #00d0af; }
.social-links .icon-research-gate::after    { border-color:     #00d0af; }
.social-links .icon-twitter                 { background-color: #4da7de; }
.social-links .icon-twitter::after          { border-color:     #4da7de; }
.social-links .icon-link-ext                { background-color: #7fd5ff; }
.social-links .icon-link-ext:after          { border-color:     #7fd5ff; }
.social-links .icon-doc-text                { background-color: #66cc33; }
.social-links .icon-doc-text:after          { border-color:     #66cc33; }

/*
 *  State
 */

@keyframes borderFadeIn {
  from {
    border-bottom: 3px solid rgba(217,65,30,0.0);
    text-shadow: 0 0 1.5em rgba(255,255,255,1.0), 0 0 2.5em rgba(255,255,255,1.0);
  }
  to   {
    border-bottom: 3px solid rgba(217,65,30,1.0);
    text-shadow: 0 0 1.5em rgba(255,255,255,0.0), 0 0 2.5em rgba(255,255,255,0.0);
  }
}

/*
 *  Page Specific
 */

/* Integrations Page */

.filter-options {
  flex: 1 1 100%;
  break-after: always;
  margin: 2em;
  text-align: center;
}

.integrations input, .integrations select {
  color: var(--hero-background-color);
  font-size: 22px;
  font-family: inherit;
}


.integrations {
  align-items: flex-start;
  /* background: repeating-linear-gradient(180deg, #fff 0px, #f6f6f6 498px, #fff 500px, #fff calc(500px + 6em)); */
  border: 0 !important; /* null both border-tops and -bottoms */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.integrations .item {
  position: relative;
  margin: 0.5em;
  padding: 1em 1em;
  /* border: 1px solid var(--hero-background-color); */
  background-color: #fafafa;
  border-radius: 8px;
  text-align: center;
  height:200px;
  width: 190px; 
}
.integrations .item-logo {
  /* margin: auto;
  max-width: 200px; */
  width: 175px;
  height: 100px;
  display: flex;
  padding: 0.2em;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 8px;
}
.integrations .item-logo img {
  margin: auto;
  max-height: 90px;
  max-width: 170px;
}
.integrations .item-info {
  color: #3a4046;
  font-size: 16px;
  line-height: 24px;
  padding: 0.5em 0;
  text-align: left;
  max-width: 175px;
}
.integrations .item-info h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0.5em 0em;
  text-align: center;
}

.integrations .social-links {
  margin: auto;
  display: none;
  width: 175px;
}

.integrations .blurb {
  hyphens: auto;
  display: none;
}





@media screen and (min-width: 768px) {
  .integrations .item:hover {
    cursor: help;
  }

  .integrations .item:hover .item-logo, .integrations .item:hover .item-info h3 {
    display: none;
  }

  .integrations .item:hover .item-info .blurb {
    text-align: justify;
    hyphens: auto;
    display: unset;
  }

  .integrations .item:hover .social-links, .integrations .item:active .social-links  {
    display: unset;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1em;
  }
}



.typewriter {
  font-family: Courier, monospace;
  /* margin: auto; */
  display: inline-block;
  background-image: url(img/console.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 400px;
  padding-left: 1vw;
  margin-top: 6em;
  /* padding-right: 4em; */
  /* border: 1px solid black; */
}

@media screen and (min-width: 768px) {
  
  .typewriter {
    font-family: Courier, monospace;
    /* margin: auto; */
    display: inline-block;
    background-image: url(img/console.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 40%;
    height: 400px;
    padding-left: 6vw;
    margin-top: 6em;
    /* padding-right: 4em; */
    /* border: 1px solid black; */
  }
}


.typewriter p {
  color: white;
  margin-top: 2em;
  margin-left: 1em;
  font-size: 22px;
  font-weight: 400;
}

.typewriter-text {
  margin-top: 2em;
  margin-left: 1em;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 7s steps(30, end) infinite, blink 1s step-end infinite;
  white-space: nowrap;
  font-size: 22px;
  font-weight: 400;
  border-right: 4px solid orange;
  box-sizing: border-box;
  width: 100%;
  color: white;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: orange; 
  }
}

.spacer-dlyellow {
  background-image: url(img/arrow_yellow.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 200px;
}

.spacer-dlgrey {
  background-image: url(img/arrow_grey.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 200px;
}

.tag-anchor {
  border: 1px solid black;
  padding: 5px;
  border-radius: 6px;
}

.tag-button {
  border: 1px solid black;
  background-color: white;
  color: var(--hero-background-color);
  padding: 1px;
  border-radius: 3px;
  margin: 5px;
}

/* .tag-tooltip {
  
} */

.tag-tooltip {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* position: relative; */
  align-content: flex-start;
  line-height: 2em;
  width: 30vw;
  height: auto;
  background-color: white;
  border: 1px solid black;
  color: var(--hero-background-color);
  text-align: left;
  padding: 5px 5px;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  /* top:0; */
  z-index: 1;
  right: 1vw;
  
}

/* Show the tooltip text when you mouse over the tooltip container */
.tag-anchor:hover .tag-tooltip {
  visibility: visible;
}